<%= form_for([@post, @post.comments.build]) do |f| %>
<div class="row">
  <div class="col s12 center-align">
    <div class="field">
      <%= f.text_field :commenter, :placeholder => "Нэр" %>
    </div>
    <div class="field">
      <%= f.text_area :body, :placeholder => "Сэтгэгдэл"  %>
    </div>
    <button type="submit" class="waves-effect waves-light btn green comment-submit">Илгээх</button>
  </div>
</div>
<% end %>